nodered/.flows.json.backup
[
    {
        "id": "tab-migration",
        "type": "tab",
        "label": "Migration / Seeders",
        "disabled": false,
        "info": "Tab 1: Create DBs + Tables + Seed historical data. Runs once on startup."
    },
    {
        "id": "tab-simulator",
        "type": "tab",
        "label": "Simulator",
        "disabled": false,
        "info": "Tab 2: Generate 5-machine telemetry every 10s, publish to EMQX MQTT."
    },
    {
        "id": "tab-ingestion",
        "type": "tab",
        "label": "Ingestion",
        "disabled": false,
        "info": "Tab 3: Subscribe MQTT energy/+/data -> validate -> write RAW to InfluxDB."
    },
    {
        "id": "tab-dashboard",
        "type": "tab",
        "label": "Dashboard Output",
        "disabled": false,
        "info": "Tab 4: Query 3 DBs -> JSON API at GET /api/dashboard/energy"
    },
    {
        "id": "cfg-emqx",
        "type": "mqtt-broker",
        "name": "EMQX Broker",
        "broker": "emqx",
        "port": "1883",
        "clientid": "nodered-energy",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mig-trigger",
        "type": "inject",
        "z": "tab-migration",
        "name": "Startup / Manual Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1.5,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "mig-fn-init"
            ]
        ]
    },
    {
        "id": "mig-cmt-1",
        "type": "comment",
        "z": "tab-migration",
        "name": "[1] POST /api/v3/configure/database — Create 3 databases",
        "info": "",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "mig-fn-init",
        "type": "function",
        "z": "tab-migration",
        "name": "[1] Init Migration",
        "func": "// [1] Init: define databases and tables, use InfluxDB v3 native API\nconst HOST  = 'http://influxdb:8181';\nconst TOKEN = 'apiv3_ds_pESsacfI0_vXWdSHp49SZaXPbODKnd8gaSQopgUOV-ijAiLEeqLy3IiyXhp0bQtGmN1pHOHS83CJfKWqP7w';\nconst databases = [\n  { db: 'energy_monitoring', retention_period: null,  label: 'RAW (permanent)' },\n  { db: 'energy_minutes',    retention_period: '14d', label: 'MINUTES (14d)' },\n  { db: 'energy_hour',       retention_period: null,  label: 'HOURLY (permanent)' }\n];\nconst tables = [\n  { db: 'energy_monitoring', table: 'energy_raw',    tags: ['machine_id','location'] },\n  { db: 'energy_minutes',    table: 'energy_minute', tags: ['machine_id','location'] },\n  { db: 'energy_hour',       table: 'energy_hour',   tags: ['machine_id','location'] }\n];\nflow.set('mig_host', HOST);\nflow.set('mig_token', TOKEN);\nflow.set('mig_databases', databases);\nflow.set('mig_tables', tables);\nflow.set('mig_db_idx', 0);\nflow.set('mig_tbl_idx', 0);\nnode.status({ fill: 'blue', shape: 'dot', text: 'Starting...' });\nmsg.payload = 'start';\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "mig-fn-next-db"
            ]
        ]
    },
    {
        "id": "mig-fn-next-db",
        "type": "function",
        "z": "tab-migration",
        "name": "[1] Next DB",
        "func": "// [1] Loop: POST /api/v3/configure/database\nconst databases = flow.get('mig_databases') || [];\nconst idx = flow.get('mig_db_idx') || 0;\nif (idx >= databases.length) {\n  node.status({ fill: 'green', shape: 'dot', text: idx + ' DBs created' });\n  return [null, msg];\n}\nconst db = databases[idx];\nconst body = { db: db.db };\nif (db.retention_period) body.retention_period = db.retention_period;\nmsg.url     = flow.get('mig_host') + '/api/v3/configure/database';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + flow.get('mig_token'), 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify(body);\nmsg._label  = db.label;\nmsg._idx    = idx;\nnode.status({ fill: 'blue', shape: 'ring', text: 'DB: ' + db.db });\nreturn [msg, null];",
        "outputs": 2,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "mig-http-db"
            ],
            [
                "mig-fn-next-tbl"
            ]
        ]
    },
    {
        "id": "mig-http-db",
        "type": "http request",
        "z": "tab-migration",
        "name": "[1] POST /api/v3/configure/database",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "mig-fn-db-result"
            ]
        ]
    },
    {
        "id": "mig-fn-db-result",
        "type": "function",
        "z": "tab-migration",
        "name": "[1] Advance DB Index",
        "func": "const code = msg.statusCode;\nif (code === 200 || code === 201) {\n  node.log('[mig] DB created: ' + msg._label);\n} else if (code === 409 || code === 422) {\n  node.log('[mig] DB exists: ' + msg._label + ' (OK)');\n} else {\n  node.warn('[mig] DB status ' + code + ': ' + msg.payload);\n}\nflow.set('mig_db_idx', (msg._idx || 0) + 1);\nreturn msg;",
        "outputs": 1,
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "mig-fn-next-db"
            ]
        ]
    },
    {
        "id": "mig-cmt-2",
        "type": "comment",
        "z": "tab-migration",
        "name": "[2] POST /api/v3/configure/table — Create 3 tables with tags",
        "info": "",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "mig-fn-next-tbl",
        "type": "function",
        "z": "tab-migration",
        "name": "[2] Next Table",
        "func": "// [2] Loop: POST /api/v3/configure/table\nconst tables = flow.get('mig_tables') || [];\nconst idx = flow.get('mig_tbl_idx') || 0;\nif (idx >= tables.length) {\n  node.status({ fill: 'green', shape: 'dot', text: idx + ' tables created' });\n  return [null, msg];\n}\nconst t = tables[idx];\nmsg.url     = flow.get('mig_host') + '/api/v3/configure/table';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + flow.get('mig_token'), 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ db: t.db, table: t.table, tags: t.tags });\nmsg._tbl    = t.db + '.' + t.table;\nmsg._tidx   = idx;\nnode.status({ fill: 'blue', shape: 'ring', text: 'Table: ' + t.table });\nreturn [msg, null];",
        "outputs": 2,
        "x": 740,
        "y": 280,
        "wires": [
            [
                "mig-http-tbl"
            ],
            [
                "mig-fn-seed-raw"
            ]
        ]
    },
    {
        "id": "mig-http-tbl",
        "type": "http request",
        "z": "tab-migration",
        "name": "[2] POST /api/v3/configure/table",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "mig-fn-tbl-result"
            ]
        ]
    },
    {
        "id": "mig-fn-tbl-result",
        "type": "function",
        "z": "tab-migration",
        "name": "[2] Advance Table Index",
        "func": "const code = msg.statusCode;\nif (code === 200 || code === 201) {\n  node.log('[mig] Table created: ' + msg._tbl);\n} else if (code === 409 || code === 422) {\n  node.log('[mig] Table exists: ' + msg._tbl + ' (OK)');\n} else {\n  node.warn('[mig] Table status ' + code + ' for ' + msg._tbl + ': ' + msg.payload);\n}\nflow.set('mig_tbl_idx', (msg._tidx || 0) + 1);\nreturn msg;",
        "outputs": 1,
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "mig-fn-next-tbl"
            ]
        ]
    },
    {
        "id": "mig-cmt-3",
        "type": "comment",
        "z": "tab-migration",
        "name": "[3] POST /api/v3/write_lp?db=energy_monitoring — Seed RAW 24h",
        "info": "",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "mig-fn-seed-raw",
        "type": "function",
        "z": "tab-migration",
        "name": "[3] Generate RAW Seed (24h × 5 mesin × 10s)",
        "func": "// [3] Seed RAW: POST /api/v3/write_lp?db=energy_monitoring\nconst HOST  = flow.get('mig_host');\nconst TOKEN = flow.get('mig_token');\nconst machines = [{\"id\": \"machine_01\", \"location\": \"produksi_a\", \"basePower\": 12, \"baseVoltage\": 220, \"baseCurrent\": 55}, {\"id\": \"machine_02\", \"location\": \"produksi_a\", \"basePower\": 10, \"baseVoltage\": 218, \"baseCurrent\": 46}, {\"id\": \"machine_03\", \"location\": \"produksi_b\", \"basePower\": 22, \"baseVoltage\": 221, \"baseCurrent\": 100}, {\"id\": \"machine_04\", \"location\": \"gudang\", \"basePower\": 4, \"baseVoltage\": 219, \"baseCurrent\": 18}, {\"id\": \"machine_05\", \"location\": \"office\", \"basePower\": 3, \"baseVoltage\": 220, \"baseCurrent\": 14}];\nconst INTERVAL_SEC = 10, LOOKBACK_HOURS = 24, BATCH_SIZE = 500;\nconst now = Date.now(), startMs = now - (LOOKBACK_HOURS * 3600 * 1000);\nconst vary  = (base, pct) => base * (1 + (Math.random() - 0.5) * 2 * pct);\nconst round = (v, d)      => Math.round(v * Math.pow(10, d)) / Math.pow(10, d);\nlet lines = [], batches = [];\nconst flush = () => {\n  if (!lines.length) return;\n  batches.push({ url: HOST + '/api/v3/write_lp?db=energy_monitoring', body: lines.join('\\n') });\n  lines = [];\n};\nfor (let ts = startMs; ts < now; ts += INTERVAL_SEC * 1000) {\n  const tsNs = (ts * 1000000).toString();\n  for (const m of machines) {\n    const power   = round(vary(m.basePower,   0.20), 3);\n    const voltage = round(vary(m.baseVoltage, 0.02), 1);\n    const current = round(vary(m.baseCurrent, 0.15), 2);\n    const pf      = round(0.85 + Math.random() * 0.12, 3);\n    const energy  = round(power * INTERVAL_SEC / 3600, 6);\n    lines.push('energy_raw,machine_id=' + m.id + ',location=' + m.location +\n      ' power_kw=' + power + ',voltage_v=' + voltage + ',current_a=' + current +\n      ',energy_kwh=' + energy + ',power_factor=' + pf + ' ' + tsNs);\n    if (lines.length >= BATCH_SIZE) flush();\n  }\n}\nflush();\nflow.set('seed_raw_batches', batches);\nflow.set('seed_raw_idx', 0);\nnode.status({ fill: 'blue', shape: 'dot', text: 'RAW: ' + batches.length + ' batches' });\nmsg.payload = { totalBatches: batches.length };\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "mig-fn-next-raw"
            ]
        ]
    },
    {
        "id": "mig-fn-next-raw",
        "type": "function",
        "z": "tab-migration",
        "name": "[3] Next RAW Batch",
        "func": "const batches = flow.get('seed_raw_batches') || [];\nconst idx = flow.get('seed_raw_idx') || 0;\nif (idx >= batches.length) {\n  node.status({ fill: 'green', shape: 'dot', text: 'RAW done: ' + batches.length });\n  return [null, msg];\n}\nconst b = batches[idx];\nflow.set('seed_raw_idx', idx + 1);\nmsg.url     = b.url;\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + flow.get('mig_token'), 'Content-Type': 'text/plain' };\nmsg.payload = b.body;\nnode.status({ fill: 'blue', shape: 'ring', text: 'RAW batch ' + (idx+1) + '/' + batches.length });\nreturn [msg, null];",
        "outputs": 2,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "mig-http-raw"
            ],
            [
                "mig-fn-seed-min"
            ]
        ]
    },
    {
        "id": "mig-http-raw",
        "type": "http request",
        "z": "tab-migration",
        "name": "[3] POST /api/v3/write_lp RAW",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "mig-fn-after-raw"
            ]
        ]
    },
    {
        "id": "mig-fn-after-raw",
        "type": "function",
        "z": "tab-migration",
        "name": "[3] Advance RAW Index",
        "func": "if(msg.statusCode!==200&&msg.statusCode!==204){node.warn('[seed-raw] '+msg.statusCode+': '+msg.payload);} return msg;",
        "outputs": 1,
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "mig-fn-next-raw"
            ]
        ]
    },
    {
        "id": "mig-cmt-4",
        "type": "comment",
        "z": "tab-migration",
        "name": "[4] POST /api/v3/write_lp?db=energy_minutes — Seed MINUTES 24h",
        "info": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "mig-fn-seed-min",
        "type": "function",
        "z": "tab-migration",
        "name": "[4] Generate MINUTES Seed (24h × 5 mesin × 1m)",
        "func": "// [4] Seed MINUTES: POST /api/v3/write_lp?db=energy_minutes\nconst HOST  = flow.get('mig_host');\nconst TOKEN = flow.get('mig_token');\nconst machines = [{\"id\": \"machine_01\", \"location\": \"produksi_a\", \"basePower\": 12, \"baseVoltage\": 220, \"baseCurrent\": 55}, {\"id\": \"machine_02\", \"location\": \"produksi_a\", \"basePower\": 10, \"baseVoltage\": 218, \"baseCurrent\": 46}, {\"id\": \"machine_03\", \"location\": \"produksi_b\", \"basePower\": 22, \"baseVoltage\": 221, \"baseCurrent\": 100}, {\"id\": \"machine_04\", \"location\": \"gudang\", \"basePower\": 4, \"baseVoltage\": 219, \"baseCurrent\": 18}, {\"id\": \"machine_05\", \"location\": \"office\", \"basePower\": 3, \"baseVoltage\": 220, \"baseCurrent\": 14}];\nconst LOOKBACK_HOURS = 24, BATCH_SIZE = 500;\nconst now = Date.now(), startMs = now - (LOOKBACK_HOURS * 3600 * 1000);\nconst vary  = (base, pct) => base * (1 + (Math.random() - 0.5) * 2 * pct);\nconst round = (v, d)      => Math.round(v * Math.pow(10, d)) / Math.pow(10, d);\nlet lines = [], batches = [];\nconst flush = () => {\n  if (!lines.length) return;\n  batches.push({ url: HOST + '/api/v3/write_lp?db=energy_minutes', body: lines.join('\\n') });\n  lines = [];\n};\nfor (let ts = startMs; ts < now; ts += 60 * 1000) {\n  const tsNs = (Math.floor(ts / 60000) * 60000 * 1000000).toString();\n  for (const m of machines) {\n    const avgPow = round(vary(m.basePower,   0.15), 3);\n    const sumE   = round(avgPow * 60 / 3600, 6);\n    const avgV   = round(vary(m.baseVoltage, 0.02), 1);\n    const avgA   = round(avgPow * 1000 / avgV, 2);\n    const avgPF  = round(0.87 + Math.random() * 0.10, 3);\n    const minPow = round(avgPow * 0.85, 3);\n    const maxPow = round(avgPow * 1.18, 3);\n    lines.push('energy_minute,machine_id=' + m.id + ',location=' + m.location +\n      ' avg_power_kw=' + avgPow + ',sum_energy_kwh=' + sumE +\n      ',avg_voltage_v=' + avgV + ',avg_current_a=' + avgA +\n      ',avg_power_factor=' + avgPF + ',min_power_kw=' + minPow +\n      ',max_power_kw=' + maxPow + ',sample_count=6i' + ' ' + tsNs);\n    if (lines.length >= BATCH_SIZE) flush();\n  }\n}\nflush();\nflow.set('seed_min_batches', batches);\nflow.set('seed_min_idx', 0);\nnode.status({ fill: 'blue', shape: 'dot', text: 'MINUTES: ' + batches.length + ' batches' });\nmsg.payload = { totalBatches: batches.length };\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "mig-fn-next-min"
            ]
        ]
    },
    {
        "id": "mig-fn-next-min",
        "type": "function",
        "z": "tab-migration",
        "name": "[4] Next MINUTES Batch",
        "func": "const batches = flow.get('seed_min_batches') || [];\nconst idx = flow.get('seed_min_idx') || 0;\nif (idx >= batches.length) {\n  node.status({ fill: 'green', shape: 'dot', text: 'MINUTES done: ' + batches.length });\n  return [null, msg];\n}\nconst b = batches[idx];\nflow.set('seed_min_idx', idx + 1);\nmsg.url     = b.url;\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + flow.get('mig_token'), 'Content-Type': 'text/plain' };\nmsg.payload = b.body;\nnode.status({ fill: 'blue', shape: 'ring', text: 'MIN batch ' + (idx+1) + '/' + batches.length });\nreturn [msg, null];",
        "outputs": 2,
        "x": 740,
        "y": 640,
        "wires": [
            [
                "mig-http-min"
            ],
            [
                "mig-fn-seed-hourly"
            ]
        ]
    },
    {
        "id": "mig-http-min",
        "type": "http request",
        "z": "tab-migration",
        "name": "[4] POST /api/v3/write_lp MINUTES",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 1000,
        "y": 640,
        "wires": [
            [
                "mig-fn-after-min"
            ]
        ]
    },
    {
        "id": "mig-fn-after-min",
        "type": "function",
        "z": "tab-migration",
        "name": "[4] Advance MINUTES Index",
        "func": "if(msg.statusCode!==200&&msg.statusCode!==204){node.warn('[seed-min] '+msg.statusCode+': '+msg.payload);} return msg;",
        "outputs": 1,
        "x": 1000,
        "y": 700,
        "wires": [
            [
                "mig-fn-next-min"
            ]
        ]
    },
    {
        "id": "mig-cmt-5",
        "type": "comment",
        "z": "tab-migration",
        "name": "[5] POST /api/v3/write_lp?db=energy_hour — Seed HOURLY 24h",
        "info": "",
        "x": 500,
        "y": 780,
        "wires": []
    },
    {
        "id": "mig-fn-seed-hourly",
        "type": "function",
        "z": "tab-migration",
        "name": "[5] Generate HOURLY Seed (24h × 5 mesin)",
        "func": "// [5] Seed HOURLY: POST /api/v3/write_lp?db=energy_hour\nconst HOST  = flow.get('mig_host');\nconst TOKEN = flow.get('mig_token');\nconst machines = [{\"id\": \"machine_01\", \"location\": \"produksi_a\", \"basePower\": 12, \"baseVoltage\": 220, \"baseCurrent\": 55}, {\"id\": \"machine_02\", \"location\": \"produksi_a\", \"basePower\": 10, \"baseVoltage\": 218, \"baseCurrent\": 46}, {\"id\": \"machine_03\", \"location\": \"produksi_b\", \"basePower\": 22, \"baseVoltage\": 221, \"baseCurrent\": 100}, {\"id\": \"machine_04\", \"location\": \"gudang\", \"basePower\": 4, \"baseVoltage\": 219, \"baseCurrent\": 18}, {\"id\": \"machine_05\", \"location\": \"office\", \"basePower\": 3, \"baseVoltage\": 220, \"baseCurrent\": 14}];\nconst LOOKBACK_HOURS = 24;\nconst now = Date.now(), startMs = now - (LOOKBACK_HOURS * 3600 * 1000);\nconst vary  = (base, pct) => base * (1 + (Math.random() - 0.5) * 2 * pct);\nconst round = (v, d)      => Math.round(v * Math.pow(10, d)) / Math.pow(10, d);\nlet lines = [];\nfor (let ts = startMs; ts < now; ts += 3600 * 1000) {\n  const tsNs = (Math.floor(ts / 3600000) * 3600000 * 1000000).toString();\n  for (const m of machines) {\n    const avgPow = round(vary(m.basePower,   0.12), 3);\n    const sumE   = round(avgPow * 1, 4);\n    const avgV   = round(vary(m.baseVoltage, 0.02), 1);\n    const avgA   = round(avgPow * 1000 / avgV, 2);\n    const avgPF  = round(0.88 + Math.random() * 0.09, 3);\n    const minPow = round(avgPow * 0.80, 3);\n    const maxPow = round(avgPow * 1.20, 3);\n    lines.push('energy_hour,machine_id=' + m.id + ',location=' + m.location +\n      ' avg_power_kw=' + avgPow + ',sum_energy_kwh=' + sumE +\n      ',avg_voltage_v=' + avgV + ',avg_current_a=' + avgA +\n      ',avg_power_factor=' + avgPF + ',min_power_kw=' + minPow +\n      ',max_power_kw=' + maxPow + ',sample_count=360i' + ' ' + tsNs);\n  }\n}\nmsg.url     = HOST + '/api/v3/write_lp?db=energy_hour';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + TOKEN, 'Content-Type': 'text/plain' };\nmsg.payload = lines.join('\\n');\nnode.status({ fill: 'blue', shape: 'dot', text: 'Writing ' + lines.length + ' HOURLY...' });\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 820,
        "wires": [
            [
                "mig-http-hourly"
            ]
        ]
    },
    {
        "id": "mig-http-hourly",
        "type": "http request",
        "z": "tab-migration",
        "name": "[5] POST /api/v3/write_lp HOURLY",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 760,
        "y": 820,
        "wires": [
            [
                "mig-fn-done"
            ]
        ]
    },
    {
        "id": "mig-fn-done",
        "type": "function",
        "z": "tab-migration",
        "name": "[5] Migration Complete",
        "func": "const ok = msg.statusCode === 200 || msg.statusCode === 204;\nnode.status({ fill: 'green', shape: 'dot', text: ok ? 'All seeding done!' : 'Done (status ' + msg.statusCode + ')' });\nmsg.payload = { status: 'done', influx_code: msg.statusCode };\nreturn msg;",
        "outputs": 1,
        "x": 1000,
        "y": 820,
        "wires": [
            [
                "mig-debug"
            ]
        ]
    },
    {
        "id": "mig-debug",
        "type": "debug",
        "z": "tab-migration",
        "name": "Seeder Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1220,
        "y": 820,
        "wires": []
    },
    {
        "id": "mig-catch",
        "type": "catch",
        "z": "tab-migration",
        "name": "Error Handler",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 940,
        "wires": [
            [
                "mig-debug-err"
            ]
        ]
    },
    {
        "id": "mig-debug-err",
        "type": "debug",
        "z": "tab-migration",
        "name": "Error Log",
        "active": true,
        "tosidebar": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 400,
        "y": 940,
        "wires": []
    },
    {
        "id": "sim-trigger",
        "type": "inject",
        "z": "tab-simulator",
        "name": "[1] Interval 10s — Auto Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "tick",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "sim-fn-gen"
            ]
        ]
    },
    {
        "id": "sim-cmt-1",
        "type": "comment",
        "z": "tab-simulator",
        "name": "[1] Trigger setiap 10s — auto start saat deploy",
        "info": "",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "sim-fn-gen",
        "type": "function",
        "z": "tab-simulator",
        "name": "[2] Generate 5 Machine Telemetry",
        "func": "// [2] Generate realistic 5-machine telemetry\nconst machines = [{\"id\": \"machine_01\", \"location\": \"produksi_a\", \"basePower\": 12, \"baseVoltage\": 220, \"baseCurrent\": 55}, {\"id\": \"machine_02\", \"location\": \"produksi_a\", \"basePower\": 10, \"baseVoltage\": 218, \"baseCurrent\": 46}, {\"id\": \"machine_03\", \"location\": \"produksi_b\", \"basePower\": 22, \"baseVoltage\": 221, \"baseCurrent\": 100}, {\"id\": \"machine_04\", \"location\": \"gudang\", \"basePower\": 4, \"baseVoltage\": 219, \"baseCurrent\": 18}, {\"id\": \"machine_05\", \"location\": \"office\", \"basePower\": 3, \"baseVoltage\": 220, \"baseCurrent\": 14}];\nconst vary  = (base, pct) => base * (1 + (Math.random() - 0.5) * 2 * pct);\nconst round = (v, d)      => Math.round(v * Math.pow(10, d)) / Math.pow(10, d);\nconst INTERVAL_SEC = 10;\nconst now = new Date().toISOString();\nmsg.payload = machines.map(m => {\n  const power   = round(vary(m.basePower,   0.2),  3);\n  const voltage = round(vary(m.baseVoltage, 0.02), 1);\n  const current = round(vary(m.baseCurrent, 0.15), 2);\n  const pf      = round(0.85 + Math.random() * 0.12, 3);\n  const energy  = round(power * INTERVAL_SEC / 3600, 6);\n  return { machine_id: m.id, location: m.location, timestamp: now,\n    power_kw: power, voltage_v: voltage, current_a: current,\n    energy_kwh: energy, power_factor: pf };\n});\nnode.status({ fill: 'green', shape: 'dot', text: 'x5 @ ' + now.substring(11,19) });\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "sim-split"
            ]
        ]
    },
    {
        "id": "sim-cmt-2",
        "type": "comment",
        "z": "tab-simulator",
        "name": "[2] Generate: 5 mesin, variasi acak ±20%",
        "info": "",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "sim-split",
        "type": "split",
        "z": "tab-simulator",
        "name": "Split Array -> 5 Messages",
        "splt": "\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 660,
        "y": 100,
        "wires": [
            [
                "sim-fn-topic"
            ]
        ]
    },
    {
        "id": "sim-fn-topic",
        "type": "function",
        "z": "tab-simulator",
        "name": "[3] Set MQTT Topic per Machine",
        "func": "msg.topic   = 'energy/' + msg.payload.machine_id + '/data';\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 890,
        "y": 220,
        "wires": [
            [
                "sim-mqtt-out",
                "c9a45b8a9e72ad19"
            ]
        ]
    },
    {
        "id": "sim-cmt-3",
        "type": "comment",
        "z": "tab-simulator",
        "name": "[3] Publish: energy/{machine_id}/data ke EMQX",
        "info": "",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "sim-mqtt-out",
        "type": "mqtt out",
        "z": "tab-simulator",
        "name": "[3] Publish ke EMQX",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cfg-emqx",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "c9a45b8a9e72ad19",
        "type": "debug",
        "z": "tab-simulator",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "ing-mqtt-in",
        "type": "mqtt in",
        "z": "tab-ingestion",
        "name": "[1] Subscribe energy/+/data",
        "topic": "energy/+/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "cfg-emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "ing-json"
            ]
        ]
    },
    {
        "id": "ing-cmt-1",
        "type": "comment",
        "z": "tab-ingestion",
        "name": "[1] Subscribe: energy/+/data — wildcard + = machine_id",
        "info": "",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "ing-json",
        "type": "json",
        "z": "tab-ingestion",
        "name": "[2] Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "ing-fn-validate"
            ]
        ]
    },
    {
        "id": "ing-cmt-2",
        "type": "comment",
        "z": "tab-ingestion",
        "name": "[2] Parse JSON string -> object",
        "info": "",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "ing-fn-validate",
        "type": "function",
        "z": "tab-ingestion",
        "name": "[3] Validate & Sanitize",
        "func": "// [3] Validate: drop if missing/NaN field\nconst d = msg.payload;\nconst required = ['machine_id','location','power_kw','voltage_v','current_a','energy_kwh','power_factor'];\nfor (const f of required) {\n  if (d[f] === undefined || d[f] === null) {\n    node.warn('[ing] Dropped: missing ' + f);\n    node.status({ fill: 'red', shape: 'ring', text: 'Missing: ' + f });\n    return null;\n  }\n}\nfor (const f of ['power_kw','voltage_v','current_a','energy_kwh','power_factor']) {\n  const v = parseFloat(d[f]);\n  if (isNaN(v)) {\n    node.warn('[ing] Dropped: NaN in ' + f);\n    node.status({ fill: 'red', shape: 'ring', text: 'NaN: ' + f });\n    return null;\n  }\n  d[f] = v;\n}\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "ing-fn-lp"
            ]
        ]
    },
    {
        "id": "ing-cmt-3",
        "type": "comment",
        "z": "tab-ingestion",
        "name": "[3] Validate: semua field wajib + numerik",
        "info": "",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "ing-fn-lp",
        "type": "function",
        "z": "tab-ingestion",
        "name": "[4] Build Line Protocol",
        "func": "// [4] Build InfluxDB Line Protocol -> write to energy_monitoring\nconst d = msg.payload;\nconst esc = v => String(v).replace(/ /g,'\\\\ ').replace(/,/g,'\\\\,').replace(/=/g,'\\\\=');\nlet tsMs;\ntry { tsMs = d.timestamp ? new Date(d.timestamp).getTime() : Date.now(); if (isNaN(tsMs)) tsMs = Date.now(); }\ncatch(e) { tsMs = Date.now(); }\nconst tsNs = (tsMs * 1000000).toString();\nconst line = 'energy_raw,machine_id=' + esc(d.machine_id) + ',location=' + esc(d.location) +\n  ' power_kw=' + d.power_kw + ',voltage_v=' + d.voltage_v + ',current_a=' + d.current_a +\n  ',energy_kwh=' + d.energy_kwh + ',power_factor=' + d.power_factor + ' ' + tsNs;\nmsg.url     = 'http://influxdb:8181/api/v3/write_lp?db=energy_monitoring';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer apiv3_ds_pESsacfI0_vXWdSHp49SZaXPbODKnd8gaSQopgUOV-ijAiLEeqLy3IiyXhp0bQtGmN1pHOHS83CJfKWqP7w', 'Content-Type': 'text/plain' };\nmsg.payload = line;\nreturn msg;",
        "outputs": 1,
        "x": 880,
        "y": 100,
        "wires": [
            [
                "ing-http"
            ]
        ]
    },
    {
        "id": "ing-cmt-4",
        "type": "comment",
        "z": "tab-ingestion",
        "name": "[4-5] POST /api/v3/write_lp?db=energy_monitoring",
        "info": "",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "ing-http",
        "type": "http request",
        "z": "tab-ingestion",
        "name": "[5] POST /api/v3/write_lp",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 1100,
        "y": 100,
        "wires": [
            [
                "ing-fn-check"
            ]
        ]
    },
    {
        "id": "ing-fn-check",
        "type": "function",
        "z": "tab-ingestion",
        "name": "[5] Check Status",
        "func": "if (msg.statusCode === 200 || msg.statusCode === 204) {\n  node.status({ fill: 'green', shape: 'dot', text: 'OK @ ' + new Date().toISOString().substring(11,19) });\n} else {\n  node.status({ fill: 'red', shape: 'ring', text: 'Error ' + msg.statusCode });\n  node.warn('[ing] Write failed (' + msg.statusCode + '): ' + msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "x": 1100,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ing-catch",
        "type": "catch",
        "z": "tab-ingestion",
        "name": "Error Handler",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "ing-debug-err"
            ]
        ]
    },
    {
        "id": "ing-debug-err",
        "type": "debug",
        "z": "tab-ingestion",
        "name": "Error Log",
        "active": true,
        "tosidebar": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "dash-http-in",
        "type": "http in",
        "z": "tab-dashboard",
        "name": "[1] GET /api/dashboard/energy",
        "url": "/api/dashboard/energy",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "dash-fn-rt"
            ]
        ]
    },
    {
        "id": "dash-cmt-1",
        "type": "comment",
        "z": "tab-dashboard",
        "name": "[1] GET /api/dashboard/energy | Test: curl http://localhost:1880/api/dashboard/energy",
        "info": "",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "dash-fn-rt",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[2] Query Realtime (RAW DB)",
        "func": "// [2] Query realtime: last 60s, all machines\nconst TOKEN = 'apiv3_ds_pESsacfI0_vXWdSHp49SZaXPbODKnd8gaSQopgUOV-ijAiLEeqLy3IiyXhp0bQtGmN1pHOHS83CJfKWqP7w', HOST = 'http://influxdb:8181';\nflow.set('dash_req', msg.req);\nflow.set('dash_res', msg.res);\nflow.set('dash_results', {});\nconst sql = `SELECT machine_id, location,\n  LAST(power_kw) AS power_kw, LAST(voltage_v) AS voltage_v,\n  LAST(current_a) AS current_a, LAST(power_factor) AS power_factor, MAX(time) AS last_seen\nFROM energy_raw\nWHERE time >= NOW() - INTERVAL '60 seconds'\nGROUP BY machine_id, location ORDER BY machine_id ASC`;\nmsg.url     = HOST + '/api/v3/query';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + TOKEN, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ query: sql, database: 'energy_monitoring', format: 'json' });\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "dash-http-rt"
            ]
        ]
    },
    {
        "id": "dash-http-rt",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "[2] POST /api/v3/query RAW",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 720,
        "y": 100,
        "wires": [
            [
                "dash-fn-parse-rt"
            ]
        ]
    },
    {
        "id": "dash-fn-parse-rt",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[2] Format Realtime",
        "func": "try {\n  const rows = Array.isArray(msg.payload) ? msg.payload : [];\n  const machines = rows.map(r => ({\n    machine_id: r.machine_id, location: r.location,\n    power_kw: parseFloat(r.power_kw)||0, voltage_v: parseFloat(r.voltage_v)||0,\n    current_a: parseFloat(r.current_a)||0, power_factor: parseFloat(r.power_factor)||0,\n    last_seen: r.last_seen\n  }));\n  const results = flow.get('dash_results') || {};\n  results.realtime = {\n    total_power_kw: Math.round(machines.reduce((s,m)=>s+m.power_kw,0)*100)/100,\n    machines\n  };\n  flow.set('dash_results', results);\n} catch(e) { node.warn('[dash] realtime: ' + e.message); }\nreturn msg;",
        "outputs": 1,
        "x": 960,
        "y": 100,
        "wires": [
            [
                "dash-fn-hourly"
            ]
        ]
    },
    {
        "id": "dash-fn-hourly",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[3] Query Hourly Trend (HOURLY DB)",
        "func": "// [3] Query hourly trend from energy_hour\nconst TOKEN = 'apiv3_ds_pESsacfI0_vXWdSHp49SZaXPbODKnd8gaSQopgUOV-ijAiLEeqLy3IiyXhp0bQtGmN1pHOHS83CJfKWqP7w', HOST = 'http://influxdb:8181';\nconst sql = `SELECT DATE_BIN(INTERVAL '1 hour', time, TIMESTAMP '1970-01-01') AS hour_bucket,\n  machine_id, SUM(sum_energy_kwh) AS energy_kwh\nFROM energy_hour\nWHERE time >= DATE_TRUNC('day', NOW()) AND time < DATE_TRUNC('day', NOW()) + INTERVAL '1 day'\nGROUP BY hour_bucket, machine_id ORDER BY hour_bucket ASC, machine_id ASC`;\nmsg.url     = HOST + '/api/v3/query';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + TOKEN, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ query: sql, database: 'energy_hour', format: 'json' });\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "dash-http-hourly"
            ]
        ]
    },
    {
        "id": "dash-http-hourly",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "[3] POST /api/v3/query HOURLY",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "dash-fn-parse-hourly"
            ]
        ]
    },
    {
        "id": "dash-fn-parse-hourly",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[3] Format Line Chart",
        "func": "try {\n  const rows = Array.isArray(msg.payload) ? msg.payload : [];\n  const machineMap = {}, hourSet = new Set();\n  rows.forEach(r => {\n    const h = new Date(r.hour_bucket).getUTCHours();\n    const label = String(h).padStart(2,'0') + ':00';\n    hourSet.add(label);\n    if (!machineMap[r.machine_id]) machineMap[r.machine_id] = {};\n    machineMap[r.machine_id][label] = Math.round(parseFloat(r.energy_kwh)*1000)/1000;\n  });\n  const labels = Array.from(hourSet).sort();\n  const datasets = Object.entries(machineMap).map(([m,d]) => ({ label:m, data:labels.map(h=>d[h]||0) }));\n  const results = flow.get('dash_results') || {};\n  results.line_chart = { title: 'Konsumsi Energi Per Jam', labels, datasets };\n  flow.set('dash_results', results);\n} catch(e) { node.warn('[dash] hourly: ' + e.message); }\nreturn msg;",
        "outputs": 1,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "dash-fn-pie"
            ]
        ]
    },
    {
        "id": "dash-fn-pie",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[4] Query Pie Chart (MINUTES DB)",
        "func": "// [4] Query pie chart: total kWh per machine from energy_minutes\nconst TOKEN = 'apiv3_ds_pESsacfI0_vXWdSHp49SZaXPbODKnd8gaSQopgUOV-ijAiLEeqLy3IiyXhp0bQtGmN1pHOHS83CJfKWqP7w', HOST = 'http://influxdb:8181';\nconst sql = `SELECT machine_id, SUM(sum_energy_kwh) AS total_kwh\nFROM energy_minute\nWHERE time >= DATE_TRUNC('day', NOW()) AND time < NOW()\nGROUP BY machine_id ORDER BY total_kwh DESC`;\nmsg.url     = HOST + '/api/v3/query';\nmsg.method  = 'POST';\nmsg.headers = { 'Authorization': 'Bearer ' + TOKEN, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({ query: sql, database: 'energy_minutes', format: 'json' });\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "dash-http-pie"
            ]
        ]
    },
    {
        "id": "dash-http-pie",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "[4] POST /api/v3/query MINUTES",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "dash-fn-parse-pie"
            ]
        ]
    },
    {
        "id": "dash-fn-parse-pie",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[4] Format Pie Chart",
        "func": "try {\n  const rows = Array.isArray(msg.payload) ? msg.payload : [];\n  const results = flow.get('dash_results') || {};\n  results.pie_chart = {\n    title: 'Distribusi Konsumsi Per Mesin — Hari Ini',\n    labels: rows.map(r=>r.machine_id),\n    values: rows.map(r=>Math.round(parseFloat(r.total_kwh)*1000)/1000),\n    unit: 'kWh'\n  };\n  flow.set('dash_results', results);\n} catch(e) { node.warn('[dash] pie: ' + e.message); }\nreturn msg;",
        "outputs": 1,
        "x": 960,
        "y": 300,
        "wires": [
            [
                "dash-fn-merge"
            ]
        ]
    },
    {
        "id": "dash-fn-merge",
        "type": "function",
        "z": "tab-dashboard",
        "name": "[5] Merge All -> JSON Response",
        "func": "// [5] Merge results and return JSON API response\nconst results = flow.get('dash_results') || {};\nmsg.payload = {\n  generated_at: new Date().toISOString(),\n  realtime:   results.realtime   || { total_power_kw: 0, machines: [] },\n  line_chart: results.line_chart || { title: '', labels: [], datasets: [] },\n  pie_chart:  results.pie_chart  || { title: '', labels: [], values: [], unit: 'kWh' }\n};\nmsg.req = flow.get('dash_req');\nmsg.res = flow.get('dash_res');\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nnode.status({ fill: 'green', shape: 'dot', text: 'Served @ ' + new Date().toISOString().substring(11,19) });\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "dash-http-response"
            ]
        ]
    },
    {
        "id": "dash-http-response",
        "type": "http response",
        "z": "tab-dashboard",
        "name": "[5] JSON API Response",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "dash-catch",
        "type": "catch",
        "z": "tab-dashboard",
        "name": "Error Handler",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "dash-fn-err"
            ]
        ]
    },
    {
        "id": "dash-fn-err",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Error -> 500 Response",
        "func": "node.warn('[dash] Error: ' + msg.error.message);\nmsg.statusCode = 500;\nmsg.payload = JSON.stringify({ error: msg.error.message });\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "dash-http-response"
            ]
        ]
    }
]